<div class="header-container">
    <h1 class="app-title">Budget App</h1>
    <div class="nav-container">
        <button class="nav-button" mat-button routerLink="dashboard">
            <mat-icon class="material-symbols-outlined">analytics</mat-icon>
            <span>Dashboard</span>
        </button>
        <button class="nav-button" mat-button routerLink="budget">
            <mat-icon class="material-symbols-outlined">account_balance_wallet</mat-icon>
            <span>Budget</span>
        </button>
        <button class="nav-button" mat-button routerLink="accounts">
            <mat-icon class="material-symbols-outlined">account_balance</mat-icon>
            <span>Accounts</span>
        </button>
        <button class="nav-button" mat-button routerLink="transactions">
            <mat-icon class="material-symbols-outlined">payments</mat-icon>
            <span>Transactions</span>
        </button>
        <button class="nav-button" mat-button routerLink="reports">
            <mat-icon class="material-symbols-outlined">monitoring</mat-icon>
            <span>Reports</span>
        </button>
    </div>
</div>
