<div class="header-container">
    <h3>This is the title</h3>
    <div class="link-container">
        <div class="link">
            <mat-icon class="material-symbols-outlined">account_balance_wallet</mat-icon>
            <span>Budget</span>
        </div>
        <div class="link">
            <mat-icon class="material-symbols-outlined">monitoring</mat-icon>
            <span>Reports</span>
        </div>
        <div class="link">
            <mat-icon class="material-symbols-outlined">account_balance</mat-icon>
            <span>Accounts</span>
        </div>
        <div class="link">
            <mat-icon class="material-symbols-outlined">payments</mat-icon>
            <span>Transactions</span>
        </div>
    </div>
</div>
