<table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="categoryName">
        <th *matHeaderCellDef mat-header-cell>Category</th>
        <td *matCellDef="let row" mat-cell>{{ row.categoryName }}</td>
    </ng-container>

    <ng-container matColumnDef="budgeted">
        <th *matHeaderCellDef mat-header-cell>Budgeted</th>
        <td *matCellDef="let row" mat-cell>{{ row.budgeted | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="spent">
        <th *matHeaderCellDef mat-header-cell>Spent</th>
        <td *matCellDef="let row" mat-cell>{{ row.spent | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="available">
        <th *matHeaderCellDef mat-header-cell>Available</th>
        <td *matCellDef="let row" mat-cell>{{ row.available | currency }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
