.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subheader {
    margin-left: 1rem;
}

.create-account-button {
    margin-right: 1rem;
}

.accounts-grid-container {
    margin-left: 1rem;
    margin-right: 1rem;
}
